---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Calendar } from "lucide-astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container my-12">
      <section>
        <ul class="grid grid-cols-3 gap-0">
          {
            posts.map((post) => (
              <li class="p-4 hover:cursor-pointer hover:scale-[1.01] transition-transform hover:bg-gray-100 rounded-xl">
                <a href={`/posts/${post.slug}/`}>
                  <div
                    class="w-full aspect-square rounded-lg"
                    style={`
                        background: url(${post.data.heroImage});
                        background-position: center;
                        background-size: cover;
                    `}
                  />
                  <h4 class="mt-2 font-bold text-lg">{post.data.title}</h4>
                  <p>{post.data.description.slice(0, 50)}...</p>
                  <p class="flex gap-2 items-center bg-blue-200 rounded-full w-fit py-2 px-3 text-xs font-bold text-blue-900 mt-4">
                    <Calendar size={16} stroke-width={3} />
                    <FormattedDate date={post.data.date} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
