---
import GoToTop from "../components/GoToTop.astro";
import packageJson from "../../package.json";
const today = new Date();
---

<footer
  class="flex flex-col gap-4 items-center py-12 text-center bg-slate-100 relative"
>
  <ul class="flex">
    <li
      class="py-2 px-4 rounded-full hover:bg-gray-200 hover:cursor hover:text-gray-800"
    >
      <a href={import.meta.env.PUBLIC_URL_PERSONAL_WEB} target="_blank"
        >Personal Web</a
      >
    </li>
    <li
      class="py-2 px-4 rounded-full hover:bg-gray-200 hover:cursor hover:text-gray-800"
    >
      <a href={import.meta.env.PUBLIC_URL_GITHUB} target="_blank">GitHub</a>
    </li>
    <li
      class="py-2 px-4 rounded-full hover:bg-gray-200 hover:cursor hover:text-gray-800"
    >
      <a href={import.meta.env.PUBLIC_URL_LINKEDIN} target="_blank">LinkedIn</a>
    </li>
  </ul>
  <p class="text-xs">
    Fervqz Blog ({today.getFullYear()}) &mdash; v{packageJson.version}
  </p>
  <GoToTop />
</footer>
