---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, date, updatedDate, heroImage, alternativeSlug } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main class="container flex flex-col gap-8 mb-16">
      <div
        class="w-full h-[30rem] rounded-lg shadow-lg shadow-slate-400 transition-transform ease-out"
        style={`
          background: url(${heroImage});
          background-position: center;
          background-size: cover;
        `}
      >
      </div>
      <header>
        <h1 class="text-2xl md:text-4xl font-bold">
          {title}
        </h1>
        <div
          class="flex gap-2 md:gap-4 py-4 md:my-8 items-center border-y-[0.5px] border-gray-300"
        >
          <img
            src="/img/avatar.webp"
            class="size-8 md:size-16 rounded-full bg-cover"
          />
          <div class="flex flex-col justify-center">
            <a
              href={import.meta.env.PUBLIC_URL_GITHUB}
              target="_blank"
              rel="“noreferrer”"
              class="text-blue-600 text-xl hover:underline">fervqz</a
            >
            <p>
              <FormattedDate date={date} />
            </p>
          </div>
        </div>
      </header>

      <section>
        <slot />
      </section>
    </main>
    <Footer />
  </body>
</html>
